@import './sass/farbig';

$color-brand: #2e5b9b;
$color-primary: #76329b;
$color-info: #008fff;
$color-success: #3a9b79;
$color-warn: #ffb22a;
$color-error: #ec4145;

$neutral-palette: neutral-palette();
$low-contrast-palette: low-contrast-palette();
$high-contrast-palette: high-contrast-palette();
$brand-palette: generate-palette($color-brand);
$primary-palette: generate-palette($color-primary);
$info-palette: generate-palette($color-info);
$success-palette: generate-palette($color-success);
$warn-palette: generate-palette($color-warn);
$error-palette: generate-palette($color-error);

@include generate-color-classes('farbig-neutral', $neutral-palette);
@include generate-color-classes('farbig-low-contrast', $low-contrast-palette);
@include generate-color-classes('farbig-high-contrast', $high-contrast-palette);
@include generate-color-classes('farbig-brand', $brand-palette);
@include generate-color-classes('farbig-primary', $primary-palette);
@include generate-color-classes('farbig-info', $info-palette);
@include generate-color-classes('farbig-success', $success-palette);
@include generate-color-classes('farbig-warn', $warn-palette);
@include generate-color-classes('farbig-error', $error-palette);

.color-reference-neutral,
.color-reference-low-contrast,
.color-reference-high-contrast {
  background-color: #818181;
}

.color-reference-brand {
  background-color: $color-brand;
}

.color-reference-primary {
  background-color: $color-primary;
}

.color-reference-info {
  background-color: $color-info;
}

.color-reference-success {
  background-color: $color-success;
}

.color-reference-warn {
  background-color: $color-warn;
}

.color-reference-error {
  background-color: $color-error;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  margin: 0;
  padding: 24px 32px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  &.dark {
    background-color: map-get($neutral-palette, 'd5');
    color: $color-text-dark;
  }

  &.light {
    background-color: map-get($neutral-palette, 'l5');
    color: $color-text-light;
  }
}

.app-wrapper {
  width: fit-content;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.text-color-light {
  color: $color-text-light;
}

.text-color-dark {
  color: $color-text-dark;
}

.app {
  display: flex;
}

.swatch {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-left: 16px;
  }
}

.swatch-legend-item,
.swatch-legend-reference,
.swatch-item,
.color-reference {
  display: flex;
  width: 115px;
  min-height: 30px;
  padding: 12px 16px;
  align-items: center;
}

.swatch-legend-item,
.swatch-legend-reference {
  width: auto;
  padding-left: 0;
}

.swatch-legend-reference,
.color-reference {
  margin-bottom: 16px;
  border-radius: 2px;
}

.swatch-item:nth-child(2) {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.swatch-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.theme-switcher {
  display: flex;

  span {
    user-select: none;
    cursor: pointer;
    padding: 12px 16px;
    display: flex;
    border-radius: 2px;
  }
}

.light {
  .theme-switcher {
    .theme-selected {
      background-color: $color-text-light;
      color: $color-text-dark;
    }
  }
}

.dark {
  .theme-switcher {
    .theme-selected {
      background-color: $color-text-dark;
      color: $color-text-light;
    }
  }
}
